name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false

    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: pnpm/action-setup@v4

      # The vue I18next framework fixture tests rely on the documents getting recognized as `vue` documents by VSCode.
      # We set the `file.association` in the tests' .vscode/settings.json. However, `vue` is not a language identifier
      # that VSCode knows about by default, so those are ignored. It requires extensions to teach it about the `vue`
      # identifier, otherwise it marks the files as `plaintext`, the vue I18next framework doesn't run, and the tests
      # fail.
      # Instead of installing a separate Vue extension just for this identifier, for the tests, we have i18n-ally itself
      # tell VSCode about the `vue` language identifier.
      - name: Register `vue` as a VSCode language identifier
        if: runner.os != 'Windows'
        run: 'contents="$(jq ''.contributes.languages += [{"id": "vue"}]'' package.json)" && echo -E "${contents}" > package.json'

      - name: Register `vue` as a VSCode language identifier (Windows)
        if: runner.os == 'Windows'
        run: |
          $content = Get-Content package.json -Raw | ConvertFrom-Json
          if (-not $content.contributes.PSObject.Properties['languages']) {
            $content.contributes | Add-Member -NotePropertyName 'languages' -NotePropertyValue @()
          }
          $content.contributes.languages += @(@{id = "vue"})
          $content | ConvertTo-Json -Depth 100 | Set-Content package.json -Encoding UTF8
        shell: pwsh

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm build

      - name: Unit Tests
        run: pnpm test:unit

      - name: E2E Tests
        if: runner.os != 'Linux'
        run: pnpm run test:e2e

      - name: E2E Tests (Linux)
        if: runner.os == 'Linux'
        run: xvfb-run -a pnpm run test:e2e

      - name: Fixture Tests
        if: runner.os != 'Linux'
        run: pnpm run test:fixture

      - name: Fixture Tests (Linux)
        if: runner.os == 'Linux'
        run: xvfb-run -a pnpm run test:fixture
